{% extends "base.html" %}

{% block content %}
<br><br><br><br>
<div class="container">
    <div class="jumbotron">
        <center><h1>{{ title }}</h1></center>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.url.label }}<br>
            {{ form.url(class="form-control", type="text") }}<br>
            {% for error in form.url.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="text") }}<br>
            {% for error in form.login.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="text") }}<br>
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.submit(type="submit", class="btn btn-success") }}
            <br><br>
            {{ message }}
        </form>
    </div>
</div>
{% endblock %}