{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Привет!</h1>
        <p class="lead">Это онлайн менеджер паролей. Здесь можно хранить пароли и проверять их на сложность.</p><br>
        <p class="lead">Чтобы использовать весь фукционал сайта, войдите. Чтобы перемещаться по сайту используйте
            верхнюю навигационную панель.</p>
    </div>
</div>
<br>


<div class="container">
    <div class="row">
        <div class="col-md">
            «Подумайте о безопасности в сети, вы же закрываете дверь, выходя из дома. Даже если внутри нет ничего
            ценного, вы все равно не хотите, чтобы злоумышленники рылись в ваших личных вещах или забрали их себе.
            Почему же вы не хотите следовать такой же логике в своей онлайн-жизни?» — спрашивают специалисты компании
            NordPass и напоминают, что злоумышленникам последние годы стало намного проще организовывать процесс взлома
            пользовательских данных. А по факту через некоторое время после взлома уже пострадавшие пользователи
            начинают сталкиваются с блокировкой своих же учетных записей, например, в электронной почте, облачном
            хранилище, и далее испытывают определенные трудности с их восстановлением, если такое вообще будет возможно
            после хорошо организованной атаки на их виртуальную личность.
        </div>
    </div>
</div>
{% endblock %}