{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<center>
    <br><br><br><br>
    <h1>Ваши пароли, {{ current_user.name }}</h1><br>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">URL или сервис</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
            </tr>
            </thead>
            {% for item in passwords %}
            <tbody>
            <tr>
                <td>{{item.url}}</td>
                <td>{{item.login}}</td>
                <td>{{item.password}}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" href="add" class="btn btn-success btn-lg">Добавить</a>
            <a type="button" href="change" class="btn btn-success btn-lg">Изменить</a>
            <a type="button" href="delete" class="btn btn-success btn-lg">Удалить</a>
        </div>
    </div>
</center>
{% else %}
<center>
    <div class="alert alert-danger" role="alert">
        <h1 class="display-3">Чтобы воспользоваться менеджером войдите!</h1>
    </div>
</center>
{% endif %}
{% endblock %}